<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Liste des etudiants</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}"/>
</head>
<body>
    <div class="container spacer">
        <a th:href="@{form}">Saisir un étudiant</a>
    </div>
    <div class="container spacer">
        <form th:action="@{index}" method="get">
            <div class="form-group">
                <label>Mot Clé:</label>
                <input type="text" name="motCle" th:value="${motCle}"/>
                <button type="submit">Chercher</button>
            </div>
        </form>
    </div>

    <div class="container spacer">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th> <th>Nom</th> <th>Date</th> <th>Email</th> <th>Photo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e:${pageEtudiants.content}">
                <td th:text="${e.id}"></td>
                <td th:text="${e.nom}"></td>
                <td th:text="${e.dateNaissance}"></td>
                <td th:text="${e.email}"></td>
                <td>
                    <img class="img-circle" th:src="@{getPhoto(id=${e.id})}" width="100" height="100"/>
                </td>
                <td><a th:href="@{supprimer(id=${e.id})}">Supprimer</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <ul class="nav nav-pills">
            <li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
                <a th:text="${p}" th:href="@{index(page=${p}, motCle=${motCle})}"></a>
            </li>
        </ul>
    </div>
</body>
</html>